@model Billycock.DTO.PlataformaDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlataformaDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPlataforma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPlataforma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroMaximoUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroMaximoUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idPlataforma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
