@model Billycock.DTO.CuentaDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CuentaDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.netflix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.netflix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amazon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amazon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hbo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hbo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.youtube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.youtube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spotify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spotify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diminutivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diminutivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idCuenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
