@model IEnumerable<Billycock.DTO.PlataformaCuentaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPlataformaCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuariosdisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPlataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCuenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPlataformaCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuariosdisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPlataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCuenta)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.idPlataformaCuenta">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
